<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alex.levprocess"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".cliente.MenuCliente"
            android:label="@string/title_activity_menu_cliente" >
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/title_activity_iniciar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".modelador.MenuModelador"
            android:label="@string/title_activity_menu_modelador" >
        </activity>
        <activity
            android:name=".processo.CadastroProcesso" >
        </activity>
        <activity
            android:name=".processo.DadosProcesso" >
        </activity>
        <activity
            android:name=".processo.EditarProcesso" >
        </activity>
        <activity
            android:name=".processo.NovoProcesso"
            android:label="@string/title_activity_novo_processo" >
        </activity>
        <activity
            android:name=".processo.BuscarProcesso" >
        </activity>
        <activity
            android:name=".usuario.CadastroUsuarios" >
        </activity>
        <activity
            android:name=".usuario.EditarUsuario" >
        </activity>
        <activity
            android:name=".usuario.BuscarUsuario" >
        </activity>
        <activity
            android:name=".atividade_condicao.CadastrarAtividade_Condicao" >
        </activity>
        <activity
            android:name=".atividade_condicao.EditarAtividade_Condicao" >
        </activity>
        <activity
            android:name=".atividade_condicao.BuscarAtividade_Condicao"
            android:label="@string/title_activity_buscar_atividade_condicao">
        </activity>
        <activity
            android:name=".atividade_condicao.NovaAtividade_Condicao"
            android:label="@string/title_activity_nova_atividade_condicao" >
        </activity>
    </application>

</manifest>